*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/* menu-icon */
.menu-icon{
    margin-left:20px;
    margin-top: 20px; 
    font-size: 30px;
}
.menu-icon:hover{
    color: red;
}
/* our-project */
.container-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 40px;
    padding: 50px 20px;
    background-color: #7fc0ca;
    color: white; 
    margin-top: 15px;
} 
.para-info{
   font-size: 20px;
   letter-spacing: 0.3px;
   line-height: 32px; 
}
.contact-info{
    background-color: white;
    color: black;
    font-size: 20px;
    font-weight: bolder;
    border-radius: 40px;
    padding: 21px 54px;    
}
.contact-info:hover{
    background-color: black;
    color: white;
}
/* projectc-freepik */
.img-freepik{
    text-align: center; 
    margin-top: 5rem;
}
.img-head{
     margin-bottom: 20px;
}
.img-alt-head{
    margin-bottom: 20px;
}
.img-container{ 
    display: grid; 
    justify-content: center;
    gap: 20px; 
    margin-bottom: 70px;
}
.img-container img:hover{             
    transform: scale(1.1);
}
.img-content img{
  transition: transform 0.3s ease-in-out ;
}
.img-content{
    width: 350px;
    height: 350px;
    overflow: hidden;
}
.img-container .img-content img:hover{
    opacity: 0.5;
    z-index: 1;
}
.img-content{
    position: relative;
}
.img-content::before{
    background-color: rgba(0, 0, 0, 0.838);
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 1;
    z-index: -1;
}
/* people-say */
.container-emp{
    background-color: #333333;
    color: white; 
} 
.container-para{
    display: grid; 
    justify-content: center;
    column-gap: 5px; 
    font-size: 20px;
    padding: 10px;
}
.para-one{
     background-color: white;
     color: black;
     margin-bottom: 50px;
     padding: 40px 10px 40px; 
}
.para-two{
     background-color: white;
     color: black;
     margin-bottom: 50px;
     padding: 40px 10px 40px; 
}
.para-three{
     background-color: white;
     color: black;
     margin-bottom: 50px;
     padding: 40px 10px 40px; 
}  
.name-emp{
    margin-bottom: 20px;
}
.job-emp{
    margin-bottom: 20px;
    color: #7fc0ca;
}
.about-emp{
    margin-bottom: 30px;
    padding-right: 25px;
    text-align: left;
}
.emp-head{
    padding-top: 70px;
    padding-bottom: 30px;
    padding-left: 20px;
    font-size: 25px;
}
.emp-date{
    color: #b3b3b3;
}
/* images-our-project */
.our-project{
    text-align: center;
    margin-top: 80px;
    margin-bottom: 40px;
}
.project-head{
    margin-bottom: 30px;
}
.project-about{
    font-size: 20px; 
    padding: 10px 10px 0px;
    margin-bottom: 30px; 
}
.project-loc{
    font-size: 20px; 
    padding-bottom: 40px;
}
.project-image{
    display: grid; 
    gap: 15px; 
    justify-content: center;
}
 .project-image-cont::before{
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.838);
    opacity: 1;
    z-index: -1;
}
.project-image .project-image-cont{
    position: relative;
    width: 350px;
    height: 350px;
    overflow: hidden;
}
.project-image .project-image-cont img:hover{
    transform: scale(1.1);
    z-index: 1;
    opacity: 0.4;

}
/* footer */
.con-about{
    background-color: #333333;
    color: white;
    padding: 70px 25px; 
}
.con-about-cont{
    display: grid; 
    gap: 80px;
}
.lh{
    font-size: 28px;
    padding-bottom: 20px;
}
.email-con{
    padding-top: 10px;
    font-size: 15px;
}
.underline{
    font-size: 20px;
}
.border{
    border: 1px solid rgb(245,237, 237); 
    margin-top: 20px;
}
.left-last{
    font-size: 20px;
    font-weight:500;
    margin-top: 100px;
}
.center{
   width: 230px;
}
.center-head{
    padding-bottom: 25px;
    font-size: 20px;
}
.center-para1{
    font-size: 24px;
    padding-bottom: 25px;
}
.center-para2{
    font-size: 20px;  
}
.center-para3{
    padding-top: 100px;
    font-size: 20px;
}
.right-head{
    font-size: 20px;
}
.right{
    display: flex;
    flex-direction: column;
}
#logo{
   font-size: 30px;
   padding: 10px;
   padding-top: 40px;
   color: #7fc0ca ;
}
.profile-pic{
    padding-top: 60px;
    width: 140px;
    height: 180px;
}
.end{
    text-align: center;
    padding-top: 100px;
}
.end-all{ 
    text-align: center;
    margin-top: 80px;
    font-size: 14px;
}
a{
    color: #7fc0ca ;
}
.font{
    font-family: 'Open Sans', sans-serif;
}
.mon{
    font-family: 'Montserrat', sans-serif;
}
/* Tablet-Breakpoint */
@media only screen and (min-width:481px) and  (max-width:768px) {
    .img-container{  
        grid-template-columns: repeat(2,350px);
        gap: 20px;  
    } 
    .container-para{
        grid-template-columns: repeat(2,330px);
       column-gap:30px;
    }
    .project-image{ 
        grid-template-columns: repeat(2,auto); 
    } 
    .con-about{ 
        padding: 70px 30px; 
    }
    .con-about-cont{ 
        grid-template-columns:repeat(3,auto);
        column-gap: 0px;
    }
    .lh{
        font-size: 25px;
        padding-bottom: 20px;
    }
    .border{
        border: 1px solid rgb(245,237, 237);
        width: 300px;
        margin-top: 20px;
    } 
    .profile-pic{
        width: 100px; 
        height: 150px;
        padding-top: 60px;
    } 
    #logo{
        padding: 5px;
        margin-top: 20px;
    }
}
/* Laptop-Breakpoint */
@media only screen and (min-width:769px) and  (max-width:1024px) {
}
/* Desktop-Breakpoint */
@media only screen and (min-width:1025px){
/* menu-icon */
.menu-icon{
    margin-left: 90px;
    margin-top: 20px;
    padding: 10px;
    font-size: 30px;
}
/* our-project */
.container-info{
    background-color: #7fc0ca;
    color: white;
    padding: 40px 0px 100px 100px;
}
.para-info{
    width: 700px;
}
.img-freepik{
    text-align: center;
    margin: 50px 0px 0px 0px;
}
.img-head{
     margin-bottom: 20px;
}
.img-alt-head{
    margin-bottom: 20px;
}
.img-container{  
    grid-template-columns: repeat(3,350px);
    gap: 20px; 
    margin-bottom: 70px;
} 
.img-content{
    width: 350px;
    height: 350px;
    overflow: hidden;
} 
/* people-say */
.container-emp{
    padding-bottom: 20px;
} 
.container-para{
    display: grid;
    grid-template-columns: repeat(3,400px);
    column-gap: 25px;
    margin-bottom: 10px;
    font-size: 20px;
}
.para-one{ 
     margin-bottom: 50px;
     padding: 40px; 
}
.para-two{ 
     margin-bottom: 50px;
     padding: 40px; 
}
.para-three{ 
     margin-bottom: 50px;
     padding: 40px; 
}  
 
.emp-head{ 
    margin-left: 30px;
} 
.our-project{
    text-align: center;
    margin-top: 80px;
    margin-bottom: 40px;
}
.project-head{
    margin-bottom: 30px;
}
.project-about{
    font-size: 20px;
    width: 700px;
    margin-left: 300px;
    margin-bottom: 30px;
}
.project-loc{
    font-size: 20px;
    padding-right: 20px;
}
.project-image{ 
    grid-template-columns: auto auto auto;
    align-items: center;
    gap: 15px; 
    margin-top: 20px; 
} 
.project-image .project-image-cont{
    position: relative;
    width: 350px;
    height: 350px;
    overflow: hidden;
} 
.con-about{ 
    padding: 70px 130px; 
}
.con-about-cont{ 
    grid-template-columns:auto auto auto;
    column-gap: 60px;
}
.lh{
    font-size: 35px;
    padding-bottom: 20px;
    width: 450px;
}
.border{
    border: 1px solid rgb(245,237, 237);
    width: 500px;
    margin-top: 20px;
} 
.profile-pic{
    width: 180px; 
    height: 230px;
} 
}